In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import gc, math

from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold, GroupKFold
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder

##### Set the size and styles of graphs

In [2]:
sns.set(rc={'figure.figsize':(11,8)})
sns.set(style="whitegrid")

### Read the dataset
Data is given in different CSV files which we will need to merge afterwards. 

`train.csv` only contains the ID of the building and meter related information including our target variable to be predicted (`meter_reading`). This `building_id` is foreign key in `building_metadata.csv`. All the information related to the buildings are given in this file. 


Same goes for `weather_train.csv` and `building_metadata.csv` files with common column (foreign key) `site_id`. So all three files are related and we will have to join these tables later

In [3]:
%%time
metadata_df = pd.read_csv('../raw_data/building_metadata.csv')

CPU times: user 2.81 ms, sys: 908 Âµs, total: 3.71 ms
Wall time: 3.46 ms

In [4]:
train_df = pd.read_csv('../raw_data/train.csv', parse_dates=['timestamp'])

In [5]:
test_df = pd.read_csv('../raw_data/test.csv', parse_dates=['timestamp'])

In [6]:
weather_train_df = pd.read_csv('../raw_data/weather_train.csv', parse_dates=['timestamp'])

In [7]:
weather_test_df = pd.read_csv('../raw_data/weather_test.csv', parse_dates=['timestamp'])

In [8]:
train_df.head()

   building_id  meter  timestamp  meter_reading
0            0      0 2016-01-01            0.0
1            1      0 2016-01-01            0.0
2            2      0 2016-01-01            0.0
3            3      0 2016-01-01            0.0
4            4      0 2016-01-01            0.0

In [9]:
weather_train_df.shape

(139773, 9)

In [10]:
test_df.head()

   row_id  building_id  meter  timestamp
0       0            0      0 2017-01-01
1       1            1      0 2017-01-01
2       2            2      0 2017-01-01
3       3            3      0 2017-01-01
4       4            4      0 2017-01-01

### Align timestamps
Timestap data is not in their local time. As energy consumptions are related to the local time, an alighment is nescessary before using timestamp. 

The credit goes to [this kernel](https://www.kaggle.com/nz0722/aligned-timestamp-lgbm-by-meter-type) for the idea. Refer it for more details and explanation about below code.

In [11]:
weather = pd.concat([weather_train_df,weather_test_df],ignore_index=True)
weather_key = ['site_id', 'timestamp']

temp_skeleton = weather[weather_key + ['air_temperature']].drop_duplicates(subset=weather_key).sort_values(by=weather_key).copy()

# calculate ranks of hourly temperatures within date/site_id chunks
temp_skeleton['temp_rank'] = temp_skeleton.groupby(['site_id', temp_skeleton.timestamp.dt.date])['air_temperature'].rank('average')

# create a dataframe of site_ids (0-16) x mean hour rank of temperature within day (0-23)
df_2d = temp_skeleton.groupby(['site_id', temp_skeleton.timestamp.dt.hour])['temp_rank'].mean().unstack(level=1)

# Subtract the columnID of temperature peak by 14, getting the timestamp alignment gap.
site_ids_offsets = pd.Series(df_2d.values.argmax(axis=1) - 14)
site_ids_offsets.index.name = 'site_id'

def timestamp_align(df):
    df['offset'] = df.site_id.map(site_ids_offsets)
    df['timestamp_aligned'] = (df.timestamp - pd.to_timedelta(df.offset, unit='H'))
    df['timestamp'] = df['timestamp_aligned']
    del df['timestamp_aligned']
    return df

In [12]:
weather_train_df.tail()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
139768,15,2016-12-31 19:00:00,3.0,NaN,-8.0,NaN,NaN,180.0,5.7
139769,15,2016-12-31 20:00:00,2.8,2.0,-8.9,NaN,1007.4,180.0,7.7
139770,15,2016-12-31 21:00:00,2.8,NaN,-7.2,NaN,1007.5,180.0,5.1
139771,15,2016-12-31 22:00:00,2.2,NaN,-6.7,NaN,1008.0,170.0,4.6
139772,15,2016-12-31 23:00:00,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

In [13]:
weather_train_df = timestamp_align(weather_train_df)

In [14]:
weather_test_df = timestamp_align(weather_test_df)

In [15]:
del weather 
del df_2d
del temp_skeleton
del site_ids_offsets

In [16]:
weather_train_df.tail()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
139768,15,2016-12-31 13:00:00,3.0,NaN,-8.0,NaN,NaN,180.0,5.7,6
139769,15,2016-12-31 14:00:00,2.8,2.0,-8.9,NaN,1007.4,180.0,7.7,6
139770,15,2016-12-31 15:00:00,2.8,NaN,-7.2,NaN,1007.5,180.0,5.1,6
139771,15,2016-12-31 16:00:00,2.2,NaN,-6.7,NaN,1008.0,170.0,4.6,6
139772,15,2016-12-31 17:00:00,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8,6

### Fill NaNs in weather data by interpolation

In [17]:
weather_train_df.isna().sum()

site_id                   0
timestamp                 0
air_temperature          55
cloud_coverage        69173
dew_temperature         113
precip_depth_1_hr     50289
sea_level_pressure    10618
wind_direction         6268
wind_speed              304
offset                    0
dtype: int64

In [18]:
weather_test_df.isna().sum()

site_id                    0
timestamp                  0
air_temperature          104
cloud_coverage        140448
dew_temperature          327
precip_depth_1_hr      95588
sea_level_pressure     21265
wind_direction         12370
wind_speed               460
offset                     0
dtype: int64

In [19]:
weather_train_df['air_temperature'] = weather_train_df[['site_id','air_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_train_df['cloud_coverage']=weather_train_df[['site_id','cloud_coverage' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_train_df['dew_temperature' ]=weather_train_df[['site_id','dew_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_train_df['precip_depth_1_hr']=weather_train_df[['site_id','precip_depth_1_hr' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_train_df['sea_level_pressure']=weather_train_df[['site_id','sea_level_pressure' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
weather_train_df['wind_direction']=weather_train_df[['site_id','wind_direction' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_train_df['wind_speed' ]=weather_train_df[['site_id','wind_speed' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['air_temperature'] = weather_train_df[['site_id','air_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['cloud_coverage']=weather_train_df[['site_id','cloud_coverage' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['dew_temperature' ]=weather_train_df[['site_id','dew_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['precip_depth_1_hr']=weather_train_df[['site_id','precip_depth_1_hr' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:9: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['sea_level_pressure']=weather_train_df[['site_id','sea_level_pressure' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:10: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['wind_direction']=weather_train_df[['site_id','wind_direction' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/1687896302.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_train_df['wind_speed' ]=weather_train_df[['site_id','wind_speed' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

In [20]:
weather_test_df['air_temperature'] = weather_test_df[['site_id','air_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_test_df['cloud_coverage']=weather_test_df[['site_id','cloud_coverage' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_test_df['dew_temperature' ]=weather_test_df[['site_id','dew_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_test_df['precip_depth_1_hr']=weather_test_df[['site_id','precip_depth_1_hr' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_test_df['sea_level_pressure']=weather_test_df[['site_id','sea_level_pressure' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
weather_test_df['wind_direction']=weather_test_df[['site_id','wind_direction' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

weather_test_df['wind_speed' ]=weather_test_df[['site_id','wind_speed' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['air_temperature'] = weather_test_df[['site_id','air_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['cloud_coverage']=weather_test_df[['site_id','cloud_coverage' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['dew_temperature' ]=weather_test_df[['site_id','dew_temperature' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['precip_depth_1_hr']=weather_test_df[['site_id','precip_depth_1_hr' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:9: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['sea_level_pressure']=weather_test_df[['site_id','sea_level_pressure' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:10: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['wind_direction']=weather_test_df[['site_id','wind_direction' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]
/var/folders/99/gh518qd1231cp1cqx_b4d36w0000gn/T/ipykernel_29780/3573677034.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  weather_test_df['wind_speed' ]=weather_test_df[['site_id','wind_speed' ]].groupby('site_id').apply(lambda group: group.interpolate(limit_direction='both')).iloc[:,1]

In [21]:
weather_train_df.isna().sum()

site_id                   0
timestamp                 0
air_temperature           0
cloud_coverage        17228
dew_temperature           0
precip_depth_1_hr     26273
sea_level_pressure     8755
wind_direction            0
wind_speed                0
offset                    0
dtype: int64

In [22]:
weather_test_df.isna().sum()

site_id                   0
timestamp                 0
air_temperature           0
cloud_coverage        33146
dew_temperature           0
precip_depth_1_hr     51807
sea_level_pressure    17241
wind_direction            0
wind_speed                0
offset                    0
dtype: int64

In [23]:
train_df['meter_reading'] = np.log1p(train_df['meter_reading'])

In [24]:
weather_train_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
0,0,2015-12-31 19:00:00,25.0,6.0,20.0,-1.0,1019.7,0.0,0.0,5
1,0,2015-12-31 20:00:00,24.4,4.0,21.1,-1.0,1020.2,70.0,1.5,5
2,0,2015-12-31 21:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,5
3,0,2015-12-31 22:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,5
4,0,2015-12-31 23:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,5

In [25]:
## Function to reduce the memory usage
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [26]:
le = LabelEncoder()
metadata_df['primary_use'] = le.fit_transform(metadata_df['primary_use'])

In [27]:
metadata_df = reduce_mem_usage(metadata_df)
train_df = reduce_mem_usage(train_df)
test_df = reduce_mem_usage(test_df)

Mem. usage decreased to  0.02 Mb (74.9% reduction)
Mem. usage decreased to 250.63 Mb (59.4% reduction)
Mem. usage decreased to 596.49 Mb (53.1% reduction)

In [28]:
weather_train_df = reduce_mem_usage(weather_train_df)

Mem. usage decreased to  3.20 Mb (70.0% reduction)

In [29]:
weather_test_df = reduce_mem_usage(weather_test_df)

Mem. usage decreased to  6.35 Mb (70.0% reduction)

#### Get insights of shapes and first few data rows of all the files

In [30]:
print (f'Training data shape: {train_df.shape}')
print (f'Weather training shape: {weather_train_df.shape}')
print (f'Weather training shape: {weather_test_df.shape}')
print (f'Weather testing shape: {metadata_df.shape}')
print (f'Test data shape: {test_df.shape}')

Training data shape: (20216100, 4)
Weather training shape: (139773, 10)
Weather training shape: (277243, 10)
Weather testing shape: (1449, 6)
Test data shape: (41697600, 4)

In [31]:
train_df.head()

   building_id  meter  timestamp  meter_reading
0            0      0 2016-01-01            0.0
1            1      0 2016-01-01            0.0
2            2      0 2016-01-01            0.0
3            3      0 2016-01-01            0.0
4            4      0 2016-01-01            0.0

In [32]:
weather_train_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
0,0,2015-12-31 19:00:00,25.000000,6.0,20.00000,-1.0,1019.5,0.0,0.000000,5
1,0,2015-12-31 20:00:00,24.406250,4.0,21.09375,-1.0,1020.0,70.0,1.500000,5
2,0,2015-12-31 21:00:00,22.796875,2.0,21.09375,0.0,1020.0,0.0,0.000000,5
3,0,2015-12-31 22:00:00,21.093750,2.0,20.59375,0.0,1020.0,0.0,0.000000,5
4,0,2015-12-31 23:00:00,20.000000,2.0,20.00000,-1.0,1020.0,250.0,2.599609,5

In [33]:
metadata_df.head()

   site_id  building_id  primary_use  square_feet  year_built  floor_count
0        0            0            0         7432      2008.0          NaN
1        0            1            0         2720      2004.0          NaN
2        0            2            0         5376      1991.0          NaN
3        0            3            0        23685      2002.0          NaN
4        0            4            0       116607      1975.0          NaN

In [34]:
test_df.head()

   row_id  building_id  meter  timestamp
0       0            0      0 2017-01-01
1       1            1      0 2017-01-01
2       2            2      0 2017-01-01
3       3            3      0 2017-01-01
4       4            4      0 2017-01-01

#### Merge necessary files
As mentioned previously, to get a single dataframe for training and a single data frame for testing with all the feature included, we need to join the tables/files which are related by foreign keys. Let's first merge/join training data.

In [35]:
train_df.head()

   building_id  meter  timestamp  meter_reading
0            0      0 2016-01-01            0.0
1            1      0 2016-01-01            0.0
2            2      0 2016-01-01            0.0
3            3      0 2016-01-01            0.0
4            4      0 2016-01-01            0.0

In [36]:
%%time
full_train_df = train_df.merge(metadata_df, on='building_id', how='left')
full_train_df = full_train_df.merge(weather_train_df, on=['site_id', 'timestamp'], how='left')

CPU times: user 3.96 s, sys: 1.73 s, total: 5.69 s
Wall time: 5.9 s

Drop all NaN rows which are generated by timestamp alignment

In [37]:
full_train_df = full_train_df.loc[~(full_train_df['air_temperature'].isnull() & full_train_df['cloud_coverage'].isnull() & full_train_df['dew_temperature'].isnull() & full_train_df['precip_depth_1_hr'].isnull() & full_train_df['sea_level_pressure'].isnull() & full_train_df['wind_direction'].isnull() & full_train_df['wind_speed'].isnull() & full_train_df['offset'].isnull())]

In [38]:
full_train_df.shape

(20112649, 17)

#### Reducing the memory usage
Let's delete unnecessary dataframes from memory to lower the memory usage

In [39]:
# Delete unnecessary dataframes to decrease memory usage
del train_df
del weather_train_df
gc.collect()

23

Now let's change the data types of necessary feature columns based on the range of the data values. This will lower the data usage. But **how**? Let's see. For example the datatype of feature `building_id` is `int64` but based on the range of this feature, it can be accomodated in lower range i.e. `int16`. So this will decrease the memory usage.

#### Let's do the same for test data

In [40]:
%%time
full_test_df = test_df.merge(metadata_df, on='building_id', how='left')
full_test_df = full_test_df.merge(weather_test_df, on=['site_id', 'timestamp'], how='left')

CPU times: user 8.28 s, sys: 4.05 s, total: 12.3 s
Wall time: 13 s

In [41]:
full_test_df.shape

(41697600, 17)

#### Reducing the memory usage
Let's delete unnecessary dataframes from memory to lower the memory usage

In [42]:
# Delete unnecessary dataframes to decrease memory usage
del metadata_df
del weather_test_df
del test_df
gc.collect()

0

Now let's change the data types of necessary feature columns based on the range of the data values. This will lower the data usage. But **how**? Let's see. For example the datatype of feature `building_id` is `int64` but based on the range of this feature, it can be accomodated in lower range i.e. `int16`. So this will decrease the memory usage.

In [43]:
full_train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
0,0,0,2016-01-01,0.0,0,0,7432,2008.0,NaN,19.40625,4.0,19.40625,0.0,1019.5,0.0,0.0,5.0
1,1,0,2016-01-01,0.0,0,0,2720,2004.0,NaN,19.40625,4.0,19.40625,0.0,1019.5,0.0,0.0,5.0
2,2,0,2016-01-01,0.0,0,0,5376,1991.0,NaN,19.40625,4.0,19.40625,0.0,1019.5,0.0,0.0,5.0
3,3,0,2016-01-01,0.0,0,0,23685,2002.0,NaN,19.40625,4.0,19.40625,0.0,1019.5,0.0,0.0,5.0
4,4,0,2016-01-01,0.0,0,0,116607,1975.0,NaN,19.40625,4.0,19.40625,0.0,1019.5,0.0,0.0,5.0

## Feature Engineering
The joined dataframe (full_train_df) now has 20,216,100 rows, and 16 features in training dataset.

### Analysing missing data
First let's count and fill missing data in training datasets

In [44]:
pd.DataFrame(full_train_df.isna().sum().sort_values(ascending=False), columns=['NaN Count'])

                    NaN Count
floor_count          16618674
year_built           12105206
precip_depth_1_hr     1646098
sea_level_pressure     779195
cloud_coverage         476553
air_temperature             0
wind_speed                  0
wind_direction              0
dew_temperature             0
building_id                 0
meter                       0
square_feet                 0
primary_use                 0
site_id                     0
meter_reading               0
timestamp                   0
offset                      0

Missing data can be filled in many ways. Here are few techniques to fill missing values: 

* Ignore the data row
* Back-fill or forward-fill to propagate next or previous values respectively
* Replace with some constant value outside fixed value range-999,-1 etc.
* Replace with mean, median value

For now, we will go with last method. So let's fill all the missing data with it's average(mean) values of corresponding columns.

In [45]:
def mean_without_overflow_fast(col):
    col /= len(col)
    return col.mean() * len(col)

In [46]:
missing_values = (100-full_train_df.count() / len(full_train_df) * 100).sort_values(ascending=False)

In [47]:
missing_values

floor_count           82.627972
year_built            60.187030
precip_depth_1_hr      8.184392
sea_level_pressure     3.874154
cloud_coverage         2.369419
air_temperature        0.000000
wind_speed             0.000000
wind_direction         0.000000
dew_temperature        0.000000
building_id            0.000000
meter                  0.000000
square_feet            0.000000
primary_use            0.000000
site_id                0.000000
meter_reading          0.000000
timestamp              0.000000
offset                 0.000000
dtype: float64

In [48]:
%%time
missing_features = full_train_df.loc[:, missing_values > 0.0]
missing_features = missing_features.apply(mean_without_overflow_fast)

CPU times: user 600 ms, sys: 391 ms, total: 991 ms
Wall time: 990 ms

In [49]:
missing_features

year_built            1968.344315
floor_count              4.175326
cloud_coverage           2.750034
precip_depth_1_hr        1.255560
sea_level_pressure    1016.059575
dtype: float64

In [50]:
#wp = weather_test_df

In [51]:
#wp['cloud_coverage'] = wp.cloud_coverage.fillna(value='2.750034')
#wp['precip_depth_1_hr'] = wp.precip_depth_1_hr.fillna(value='1.255560')
#wp['sea_level_pressure'] = wp.sea_level_pressure.fillna(value='1016.059575')

In [52]:
#wp.to_csv("../raw_data/weather_preproc.csv")

In [53]:
for key in full_train_df.loc[:, missing_values > 0.0].keys():
    if key == 'year_built' or key == 'floor_count':
        full_train_df[key].fillna(math.floor(missing_features[key]), inplace=True)
        full_test_df[key].fillna(math.floor(missing_features[key]), inplace=True)
    else:
        full_train_df[key].fillna(missing_features[key], inplace=True)
        full_test_df[key].fillna(missing_features[key], inplace=True)

In [54]:
full_train_df.tail()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
20215251,1064,0,2016-12-31 23:00:00,5.042969,12,0,131212,1968.0,4.0,6.5,8.0,5.300781,1.25556,1019.5,340.0,6.0,0.0
20215252,1065,0,2016-12-31 23:00:00,1.827148,12,6,12152,1968.0,4.0,6.5,8.0,5.300781,1.25556,1019.5,340.0,6.0,0.0
20215253,1066,0,2016-12-31 23:00:00,3.291016,12,0,55800,1968.0,4.0,6.5,8.0,5.300781,1.25556,1019.5,340.0,6.0,0.0
20215254,1067,0,2016-12-31 23:00:00,5.445312,12,0,125701,1968.0,4.0,6.5,8.0,5.300781,1.25556,1019.5,340.0,6.0,0.0
20215255,1068,0,2016-12-31 23:00:00,4.050781,12,0,112956,1968.0,4.0,6.5,8.0,5.300781,1.25556,1019.5,340.0,6.0,0.0

In [55]:
full_test_df.tail()

,row_id,building_id,meter,timestamp,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
41697595,41697595,1444,0,2018-05-09 07:00:00,15,1,19619,1914.0,4.0,18.90625,0.0,10.601562,-1.0,1020.5,180.0,2.599609,6.0
41697596,41697596,1445,0,2018-05-09 07:00:00,15,0,4298,1968.0,4.0,18.90625,0.0,10.601562,-1.0,1020.5,180.0,2.599609,6.0
41697597,41697597,1446,0,2018-05-09 07:00:00,15,1,11265,1997.0,4.0,18.90625,0.0,10.601562,-1.0,1020.5,180.0,2.599609,6.0
41697598,41697598,1447,0,2018-05-09 07:00:00,15,4,29775,2001.0,4.0,18.90625,0.0,10.601562,-1.0,1020.5,180.0,2.599609,6.0
41697599,41697599,1448,0,2018-05-09 07:00:00,15,6,92271,2001.0,4.0,18.90625,0.0,10.601562,-1.0,1020.5,180.0,2.599609,6.0

So all the missing values for training and testing data is now filled with the mean of corresponding feature columns.

### Adding few more features

First let's expand timestamp to multiple components

In [56]:
full_train_df['timestamp'].dtype

dtype('<M8[ns]')

In [57]:
full_train_df["timestamp"] = pd.to_datetime(full_train_df["timestamp"])
full_test_df["timestamp"] = pd.to_datetime(full_test_df["timestamp"])

In [58]:
def transform(df):
    df['hour'] = np.uint8(df['timestamp'].dt.hour)
    df['day'] = np.uint8(df['timestamp'].dt.day)
    df['weekday'] = np.uint8(df['timestamp'].dt.weekday)
    df['month'] = np.uint8(df['timestamp'].dt.month)
    df['year'] = np.uint8(df['timestamp'].dt.year-1900)
    
    df['square_feet'] = np.log(df['square_feet'])
    
    return df

In [59]:
full_train_df = transform(full_train_df)
full_test_df = transform(full_test_df)

In [60]:
def encode_cyclic_feature(df, col, max_vals):
    df[col + '_sin'] = np.sin(2 * np.pi * df[col]/max_vals)
#     df[col + '_cos'] = np.cos(2 * np.pi * df[col]/max_vals)
    del df[col]
    return df

In [61]:
full_train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset,hour,day,weekday,month,year
0,0,0,2016-01-01,0.0,0,0,8.913550,2008.0,4.0,19.40625,...,0.0,1019.5,0.0,0.0,5.0,0,1,4,1,116
1,1,0,2016-01-01,0.0,0,0,7.908387,2004.0,4.0,19.40625,...,0.0,1019.5,0.0,0.0,5.0,0,1,4,1,116
2,2,0,2016-01-01,0.0,0,0,8.589700,1991.0,4.0,19.40625,...,0.0,1019.5,0.0,0.0,5.0,0,1,4,1,116
3,3,0,2016-01-01,0.0,0,0,10.072597,2002.0,4.0,19.40625,...,0.0,1019.5,0.0,0.0,5.0,0,1,4,1,116
4,4,0,2016-01-01,0.0,0,0,11.666565,1975.0,4.0,19.40625,...,0.0,1019.5,0.0,0.0,5.0,0,1,4,1,116

In [62]:
dates_range = pd.date_range(start='2015-12-31', end='2019-01-01')
us_holidays = calendar().holidays(start=dates_range.min(), end=dates_range.max())
full_train_df['is_holiday'] = (full_train_df['timestamp'].dt.date.astype('datetime64').isin(us_holidays)).astype(np.int8)
full_test_df['is_holiday'] = (full_test_df['timestamp'].dt.date.astype('datetime64').isin(us_holidays)).astype(np.int8)

In [63]:
# Assuming 5 days a week for all the given buildings
full_train_df.loc[(full_train_df['weekday'] == 5) | (full_train_df['weekday'] == 6) , 'is_holiday'] = 1
full_test_df.loc[(full_test_df['weekday']) == 5 | (full_test_df['weekday'] == 6) , 'is_holiday'] = 1

In [64]:
# full_train_df.loc[(full_train_df['primary_use'] == le.transform(['Education'])[0]) & (full_train_df['month'] >= 6) & (full_train_df['month'] <= 8), 'is_vacation_month'] = np.int8(1)
# full_train_df.loc[full_train_df['is_vacation_month']!=1, 'is_vacation_month'] = np.int8(0)

### Removing weired data on site_id 0
As you can see above, this data looks weired until May 20. It is reported in this discussion by @barnwellguy that All electricity meter is 0 until May 20 for site_id == 0. Let's remove these data from training data.

In [65]:
full_train_df.shape

(20112649, 23)

In [66]:
full_train_df = full_train_df.query('not (building_id <= 104 & meter == 0 & timestamp <= "2016-05-20")')

In [67]:
full_train_df.shape

(19766435, 23)

In [68]:
full_test_df = full_test_df.drop(['timestamp'], axis=1)
full_train_df = full_train_df.drop(['timestamp'], axis=1)
print (f'Shape of training dataset: {full_train_df.shape}')
print (f'Shape of testing dataset: {full_test_df.shape}')

Shape of training dataset: (19766435, 22)
Shape of testing dataset: (41697600, 22)

In [69]:
full_train_df.tail()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,sea_level_pressure,wind_direction,wind_speed,offset,hour,day,weekday,month,year,is_holiday
20215251,1064,0,5.042969,12,0,11.784570,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215252,1065,0,1.827148,12,6,9.405249,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215253,1066,0,3.291016,12,0,10.929529,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215254,1067,0,5.445312,12,0,11.741661,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215255,1068,0,4.050781,12,0,11.634754,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1

In [70]:
full_train_df.tail()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,sea_level_pressure,wind_direction,wind_speed,offset,hour,day,weekday,month,year,is_holiday
20215251,1064,0,5.042969,12,0,11.784570,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215252,1065,0,1.827148,12,6,9.405249,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215253,1066,0,3.291016,12,0,10.929529,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215254,1067,0,5.445312,12,0,11.741661,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1
20215255,1068,0,4.050781,12,0,11.634754,1968.0,4.0,6.5,8.0,...,1019.5,340.0,6.0,0.0,23,31,5,12,116,1

In [71]:
## Reducing memory
full_train_df = reduce_mem_usage(full_train_df)
full_test_df = reduce_mem_usage(full_test_df)
gc.collect()

Mem. usage decreased to 810.58 Mb (41.1% reduction)
Mem. usage decreased to 1789.47 Mb (40.0% reduction)

0

In [72]:
beaufort = [(0, 0, 0.3), (1, 0.3, 1.6), (2, 1.6, 3.4), (3, 3.4, 5.5), (4, 5.5, 8), (5, 8, 10.8), (6, 10.8, 13.9), 
          (7, 13.9, 17.2), (8, 17.2, 20.8), (9, 20.8, 24.5), (10, 24.5, 28.5), (11, 28.5, 33), (12, 33, 200)]

for item in beaufort:
    full_train_df.loc[(full_train_df['wind_speed']>=item[1]) & (full_train_df['wind_speed']<item[2]), 'beaufort_scale'] = item[0]

In [73]:
full_train_df['group'] = full_train_df['month']
full_train_df['group'].replace((1,2,3,4,5,6), 1,inplace=True)
full_train_df['group'].replace((7,8,9,10,11,12), 2, inplace=True)

In [74]:
full_train_df = encode_cyclic_feature(full_train_df, 'weekday', 7)
full_train_df = encode_cyclic_feature(full_train_df, 'hour', 24)
full_train_df = encode_cyclic_feature(full_train_df, 'day', 31)
full_train_df = encode_cyclic_feature(full_train_df, 'month', 12)

In [75]:
full_train_df = reduce_mem_usage(full_train_df)

Mem. usage decreased to 942.54 Mb (37.5% reduction)

In [76]:
categoricals = ['site_id', 'building_id', 'primary_use', 'meter',  'wind_direction', 'is_holiday']
drop_cols = ['sea_level_pressure', 'wind_speed']
numericals = ['square_feet', 'year_built', 'air_temperature', 'cloud_coverage',
              'dew_temperature', 'precip_depth_1_hr', 'floor_count', 'beaufort_scale', 'weekday_sin', 'day_sin', 'hour_sin', 'month_sin']

feat_cols = categoricals + numericals

In [77]:
full_train_df.tail()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,wind_speed,offset,year,is_holiday,beaufort_scale,group,weekday_sin,hour_sin,day_sin,month_sin
20215251,1064,0,5.042969,12,0,11.781250,1968.0,4.0,6.5,8.0,...,6.0,0.0,116,1,4.0,2,-0.975098,-0.258789,-0.0,-0.0
20215252,1065,0,1.827148,12,6,9.406250,1968.0,4.0,6.5,8.0,...,6.0,0.0,116,1,4.0,2,-0.975098,-0.258789,-0.0,-0.0
20215253,1066,0,3.291016,12,0,10.929688,1968.0,4.0,6.5,8.0,...,6.0,0.0,116,1,4.0,2,-0.975098,-0.258789,-0.0,-0.0
20215254,1067,0,5.445312,12,0,11.742188,1968.0,4.0,6.5,8.0,...,6.0,0.0,116,1,4.0,2,-0.975098,-0.258789,-0.0,-0.0
20215255,1068,0,4.050781,12,0,11.632812,1968.0,4.0,6.5,8.0,...,6.0,0.0,116,1,4.0,2,-0.975098,-0.258789,-0.0,-0.0

In [78]:
full_train_df = reduce_mem_usage(full_train_df)
gc.collect()

Mem. usage decreased to 942.54 Mb (0.0% reduction)

0

In [79]:
full_test_df.head()

,row_id,building_id,meter,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,sea_level_pressure,wind_direction,wind_speed,offset,hour,day,weekday,month,year,is_holiday
0,0,0,0,0,0,8.914062,2008.0,4.0,15.601562,2.0,...,1022.0,130.0,2.099609,5.0,0,1,6,1,117,0
1,1,1,0,0,0,7.910156,2004.0,4.0,15.601562,2.0,...,1022.0,130.0,2.099609,5.0,0,1,6,1,117,0
2,2,2,0,0,0,8.585938,1991.0,4.0,15.601562,2.0,...,1022.0,130.0,2.099609,5.0,0,1,6,1,117,0
3,3,3,0,0,0,10.070312,2002.0,4.0,15.601562,2.0,...,1022.0,130.0,2.099609,5.0,0,1,6,1,117,0
4,4,4,0,0,0,11.664062,1975.0,4.0,15.601562,2.0,...,1022.0,130.0,2.099609,5.0,0,1,6,1,117,0

In [80]:
target = full_train_df["meter_reading"]
del full_train_df["meter_reading"]

In [81]:
full_train_df.drop(drop_cols, axis=1)
gc.collect()

0

In [82]:
# Save the testing dataset to freeup the RAM. We'll read after training
# full_test_df.to_pickle('full_test_df.pkl')
# del full_test_df
# gc.collect()

In [83]:
full_train_df.head()

,building_id,meter,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,...,wind_speed,offset,year,is_holiday,beaufort_scale,group,weekday_sin,hour_sin,day_sin,month_sin
103,105,0,1,0,10.835938,1968.0,5.0,3.800781,0.0,2.400391,...,3.099609,0.0,116,1,2.0,1,-0.433838,0.0,0.201294,0.5
104,106,0,1,0,8.585938,1968.0,4.0,3.800781,0.0,2.400391,...,3.099609,0.0,116,1,2.0,1,-0.433838,0.0,0.201294,0.5
105,106,3,1,0,8.585938,1968.0,4.0,3.800781,0.0,2.400391,...,3.099609,0.0,116,1,2.0,1,-0.433838,0.0,0.201294,0.5
106,107,0,1,0,11.484375,2005.0,10.0,3.800781,0.0,2.400391,...,3.099609,0.0,116,1,2.0,1,-0.433838,0.0,0.201294,0.5
107,108,0,1,0,11.312500,1913.0,5.0,3.800781,0.0,2.400391,...,3.099609,0.0,116,1,2.0,1,-0.433838,0.0,0.201294,0.5

In [84]:
params = {
            'boosting_type': 'gbdt',
            'objective': 'regression',
            'metric': {'rmse'},
            'subsample': 0.4,
            'subsample_freq': 1,
            'learning_rate': 0.25,
            'num_leaves': 31,
            'feature_fraction': 0.8,
            'lambda_l1': 1,
            'lambda_l2': 1
            }

folds = 2
seed = 666


kf = GroupKFold(n_splits=folds)

models = []
for train_index, val_index in kf.split(full_train_df, full_train_df['building_id'], groups=full_train_df['group']):

    train_X = full_train_df[feat_cols].iloc[train_index]
    val_X = full_train_df[feat_cols].iloc[val_index]
    train_y = target.iloc[train_index]
    val_y = target.iloc[val_index]
    lgb_train = lgb.Dataset(train_X, train_y, categorical_feature=categoricals)
    lgb_eval = lgb.Dataset(val_X, val_y, categorical_feature=categoricals)
    gbm = lgb.train(params,
                lgb_train,
                num_boost_round=500,
                valid_sets=(lgb_train, lgb_eval),
                early_stopping_rounds=100,
                verbose_eval = 100)
    models.append(gbm)

/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.281496 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3036
[LightGBM] [Info] Number of data points in the train set: 9498765, number of used features: 18

/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Info] Start training from score 4.184564
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 0.856447	valid_1's rmse: 1.18687
[200]	training's rmse: 0.799235	valid_1's rmse: 1.1795
[300]	training's rmse: 0.767202	valid_1's rmse: 1.17776
Early stopping, best iteration is:
[254]	training's rmse: 0.781538	valid_1's rmse: 1.17685

/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.318905 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3077
[LightGBM] [Info] Number of data points in the train set: 10267670, number of used features: 18

/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
/Users/diegooliveirafaria/.pyenv/versions/3.8.12/envs/sep/lib/python3.8/site-packages/lightgbm/basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Info] Start training from score 4.247750
Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 0.882636	valid_1's rmse: 1.16912
[200]	training's rmse: 0.817825	valid_1's rmse: 1.16785
Early stopping, best iteration is:
[132]	training's rmse: 0.857951	valid_1's rmse: 1.16659

In [85]:
del full_train_df, train_X, val_X, lgb_train, lgb_eval, train_y, val_y, target
gc.collect()

727

In [86]:
# full_test_df = pd.read_pickle('full_test_df.pkl')

In [87]:
# full_test_df.loc[(full_test_df['primary_use'] == le.transform(['Education'])[0]) & (full_test_df['month'] >= 6) & (full_test_df['month'] <= 8), 'is_vacation_month'] = np.int8(1)
# full_test_df.loc[full_test_df['is_vacation_month']!=1, 'is_vacation_month'] = np.int8(0)

In [88]:
for item in beaufort:
    full_test_df.loc[(full_test_df['wind_speed']>=item[1]) & (full_test_df['wind_speed']<item[2]), 'beaufort_scale'] = item[0]

In [89]:
full_test_df = encode_cyclic_feature(full_test_df, 'weekday', 7)
full_test_df = encode_cyclic_feature(full_test_df, 'hour', 24)
full_test_df = encode_cyclic_feature(full_test_df, 'day', 31)
full_test_df = encode_cyclic_feature(full_test_df, 'month', 12)

In [90]:
full_test_df = full_test_df[feat_cols]

In [91]:
full_test_df.head()

,site_id,building_id,primary_use,meter,wind_direction,is_holiday,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,floor_count,beaufort_scale,weekday_sin,day_sin,hour_sin,month_sin
0,0,0,0,0,130.0,0,8.914062,2008.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781831,0.201299,0.0,0.5
1,0,1,0,0,130.0,0,7.910156,2004.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781831,0.201299,0.0,0.5
2,0,2,0,0,130.0,0,8.585938,1991.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781831,0.201299,0.0,0.5
3,0,3,0,0,130.0,0,10.070312,2002.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781831,0.201299,0.0,0.5
4,0,4,0,0,130.0,0,11.664062,1975.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781831,0.201299,0.0,0.5

In [92]:
full_test_df = reduce_mem_usage(full_test_df)

Mem. usage decreased to 1590.64 Mb (42.9% reduction)

In [93]:
i=0
res=[]
step_size = 50000
for j in tqdm(range(int(np.ceil(full_test_df.shape[0]/50000)))):
    res.append(np.expm1(sum([model.predict(full_test_df.iloc[i:i+step_size]) for model in models])/folds))
    i+=step_size

100%|âââââââââââââââââââââââââââââââââââââââââ| 834/834 [02:10<00:00,  6.40it/s]

In [94]:
res

[array([123.92944772,  60.65646731,  11.97019202, ..., 143.32754208,
        213.98119333, 137.7267691 ]),
 array([ 99.85294047, 113.44267178, 129.42126899, ...,  82.78233851,
        952.7620451 , 121.51363749]),
 array([367.71765239,  46.69979567,  20.05469427, ..., 151.30565133,
          6.76357805,  26.14989936]),
 array([126.02893795,  56.80732351,  59.21631527, ..., 342.74338263,
        320.04498596, 232.08323602]),
 array([248.78483328, 738.11930365, 133.76393893, ..., 115.95790709,
        136.21775986, 100.95115729]),
 array([354.12023025, 375.89683482, 218.56605497, ..., 178.63623643,
        256.25321332, 163.25203921]),
 array([ 131.75931752,  142.5956411 ,  149.27214183, ..., 1078.31773765,
         588.40925636,   82.45777353]),
 array([1127.19379361,  132.58769256,  435.15173109, ...,   16.2467012 ,
          53.88445834,  125.13095464]),
 array([  5.41982344,  21.54371341, 124.44902053, ..., 153.8316946 ,
        248.59361724, 243.65110043]),
 array([182.36972645, 195.20023418, 612.36882114, ...,  20.90285164,
        151.50895805, 103.12266052]),
 array([125.79136812,  76.22654145, 226.2959393 , ..., 297.10033801,
        106.04877867, 811.85123607]),
 array([2821.6449024 ,  231.90807835,  337.05209914, ..., 4501.80896372,
         312.75260754, 3145.69127811]),
 array([ 893.03317674,  107.87506149, 1590.89084584, ...,  302.35270154,
         878.02046176,   13.18207555]),
 array([ 42.40726761, 204.80189147,   6.15962064, ..., 192.89465967,
        142.56373437, 174.1089648 ]),
 array([307.32921795, 263.1702657 , 200.96573619, ..., 593.83668554,
         17.68638702, 148.27978598]),
 array([102.38094704, 106.89691214,  67.684517  , ..., 307.87633224,
        318.18744563,  89.3038416 ]),
 array([ 830.23984668, 3266.01684817,  239.62419063, ..., 2307.88683719,
         486.05004449, 4008.38962626]),
 array([ 322.03239876, 2880.32584975,  888.41941821, ...,  399.21700138,
         807.07074344,  415.37531789]),
 array([1244.81944623,   17.82276337,   53.71761215, ...,  249.50178997,
         288.99217324,  222.59313746]),
 array([194.51236168, 147.6922029 , 178.91456537, ..., 488.02863432,
        383.18280247, 331.27314153]),
 array([ 14.17492283, 138.10240313,  79.27819264, ..., 129.42139211,
        229.1378348 , 181.17821462]),
 array([219.78662689, 211.87059126,  86.39537499, ..., 157.59368876,
        259.39646163, 333.11791808]),
 array([298.82631186, 614.63592367, 226.1268267 , ..., 127.93794633,
        165.93455804,  50.25334405]),
 array([ 260.23245977,  863.35014243,   16.02722606, ..., 2866.12227711,
         297.25767754,  307.09507505]),
 array([ 229.05062626,  200.15886273,  151.16372899, ...,  536.67088181,
        1866.82603059,  306.56832538]),
 array([404.54821393,  19.75023423, 141.15582801, ..., 433.14623078,
        221.22331418, 261.00423764]),
 array([276.20266059, 112.77794872, 115.88755021, ..., 971.87601492,
        250.24407076, 163.39639465]),
 array([ 161.13021131,   42.21535265,  421.58132723, ..., 1757.37510411,
        3303.04161765,  129.62883179]),
 array([229.93685086, 184.61740894, 275.82480698, ..., 206.94790464,
        469.23956509, 238.2330844 ]),
 array([ 267.24477557,  191.91963483,  174.02950878, ..., 2881.13028003,
         721.01281381,  552.49638172]),
 array([2473.67555374,  459.53167532,  812.0284216 , ...,  554.73583708,
         260.78773997,  340.33964324]),
 array([ 137.00638134,  863.97727557,  261.98115696, ...,  130.1931948 ,
         148.6858499 , 1419.23381008]),
 array([ 407.02106379,  200.94855257,  531.27203729, ...,  801.15278891,
        1736.40738792, 8440.12673671]),
 array([ 154.2689016 ,  270.9878507 ,  458.95223842, ..., 2076.82507789,
         310.77916338,  478.84319536]),
 array([2660.86950399,  274.16807185,  306.66101996, ...,  683.6469261 ,
        1707.84302456,  637.17560646]),
 array([2668.65886508,  486.03889141, 1666.46449059, ...,  475.18796677,
         335.48813653,  141.18995929]),
 array([ 853.74907011,  244.54725112,  301.27470583, ...,  408.02116175,
         119.81397906, 1413.08817183]),
 array([  404.41839841,   196.4013552 ,   438.99273768, ...,
        12409.61211762,   169.77597801,   487.69401936]),
 array([1461.4836591 ,  477.43004505, 1473.78439433, ...,  599.67539138,
         540.55567948, 4140.64219208]),
 array([ 295.44827156,  342.91192505,  264.16697148, ..., 1474.85230886,
         609.44473852, 3053.42164253]),
 array([ 410.77805286, 1404.66011477,  263.3337349 , ..., 1336.51716235,
          95.55407066,  373.13704298]),
 array([ 178.06740626,  232.29433293,  113.28767999, ...,  106.36008439,
         511.5276566 , 1535.59489535]),
 array([299.76092358,  69.82262435, 133.03970034, ..., 117.57665619,
        209.93279059, 385.00547537]),
 array([1850.00628247, 6627.59141715,  150.34810418, ...,  238.97953803,
          49.53774882,  314.95559102]),
 array([ 449.56185203,  697.79966568,  412.97111315, ..., 2730.52249396,
         574.16683306, 3683.35966492]),
 array([ 528.61152408, 2365.01929291,  466.05921845, ...,   46.48525229,
          40.2969158 ,   45.60409281]),
 array([111.68778365,  10.16614552,  78.32409997, ..., 173.20836437,
         53.59488394,  58.22186154]),
 array([353.91594488, 536.73846362, 187.29030101, ..., 495.52117286,
         54.45318916,  14.26201224]),
 array([ 22.39658456, 273.39951629,  93.2487079 , ...,  58.32226664,
         63.68474525,  67.49599843]),
 array([  46.51852271,   42.69008409,   50.66539756, ..., 1151.65042696,
          24.40199084,  637.7626756 ]),
 array([178.89355114,  57.72081556,  31.12047092, ...,   9.33245479,
        150.49772825, 108.46909118]),
 array([383.43644937,  41.47289867,  11.22638656, ...,  88.47727349,
         29.97362554,  85.00529289]),
 array([ 50.54437786,  52.47425317,  49.34474832, ...,   0.41524783,
        332.88859359,  32.79071281]),
 array([724.23224156,  13.90746928, 431.66664979, ...,  20.55439494,
         13.84444113,  13.21096938]),
 array([ 12.46779857, 166.21539043, 102.60227795, ..., 103.26883747,
         18.40338339,  75.91690422]),
 array([ 77.77793694,  22.22708762,  94.84310945, ..., 280.62711347,
        369.65063112,   7.85761924]),
 array([  6.36834047, 332.33917542,  38.95382601, ...,  48.00276406,
         17.24729778,   8.80412373]),
 array([ 30.10374687,  97.63108893,  14.55109382, ..., 122.83992139,
         36.55279572, 165.46696564]),
 array([117.97660498,  22.93987941,  99.07507155, ..., 255.37466991,
        256.07001237,   4.10512005]),
 array([330.69271697, 440.45595924,  26.03005368, ...,  38.86545797,
         72.08208185,  43.94128735]),
 array([ 62.24831461,  10.43226288,   1.21234933, ..., 682.30321791,
        175.13129904, 291.33144158]),
 array([131.16385121,  39.63697393, 171.2846639 , ...,   0.94643832,
          0.79779123,  90.73382105]),
 array([214.41279037, 242.43688947,   1.91082655, ...,   3.36494317,
         63.75229462,   1.48671458]),
 array([ 27.26024947,  50.01121867,  31.16648335, ..., 522.67313679,
         45.5434621 , 169.08274545]),
 array([744.25160036, 122.75738595, 285.3862977 , ..., 200.70078716,
         63.76349274,  62.46455731]),
 array([  0.89277667,   0.82897055,  70.71438545, ...,  39.73880413,
         46.0584571 , 108.72246009]),
 array([  4.45681525,  83.2334538 ,   2.35082919, ...,  53.97919136,
         19.93825054, 121.90504649]),
 array([158.91235718,  52.17999725,  30.40515419, ..., 154.19632541,
         50.90286598,  26.8151204 ]),
 array([73.81079063, 30.4091288 ,  4.82926457, ..., 32.10252533,
        84.27507176, 31.45648279]),
 array([ 6.00547871,  1.04249261, 25.86525618, ...,  0.78796643,
        30.66890785, 64.87219941]),
 array([49.33299783, 14.38359795,  1.58284614, ..., 59.93002342,
        10.53422185,  1.14862591]),
 array([ 79.84246293, 165.39975941,  74.37040738, ...,  74.2135892 ,
        163.70474545,  45.93421615]),
 array([  7.02917865, 316.21579376, 426.04725675, ..., 138.7087856 ,
          3.95422791, 344.03632798]),
 array([777.99989388,  23.6434337 ,  31.30089584, ..., 639.72231952,
         22.66507272,  28.50052935]),
 array([17.35778681,  2.75669294,  0.43818505, ...,  2.13951065,
         0.79919345, 17.06922765]),
 array([14.27973   , 71.69823335, 10.2708478 , ..., 38.45555809,
         4.85439649, 15.01239817]),
 array([  2.5968083 , 108.85871219,  56.10429037, ...,   3.68264639,
        106.47884186,  56.18913519]),
 array([11.7263231 , 10.10242961,  8.66200084, ..., 15.59234225,
        14.82294645, 10.66631613]),
 array([ 8.94985735,  7.63441583, 80.35822192, ...,  8.99536104,
         7.77310604, 89.76011553]),
 array([ 18.43211995, 105.22435036, 123.35905942, ...,   8.9122729 ,
         85.8470837 ,  89.356316  ]),
 array([ 0.15904986, 24.50690132, 10.56973624, ...,  0.77109683,
        21.0951428 ,  8.31743569]),
 array([420.70931497, 450.59294074,  73.93068798, ..., 432.81653287,
        729.16246116,  64.13171903]),
 array([ 71.43149713,  82.51044156,   3.64932184, ...,  84.26347485,
        139.06621745,   4.04303732]),
 array([ 533.6784293 ,  856.51216314,   75.94579824, ...,  599.84461329,
        1192.55671643,   69.51464811]),
 array([ 768.4566251 , 2111.18233481,   81.01455698, ...,  599.18643365,
         910.32719021,  188.98317195]),
 array([58.0594693 , 61.92007744, 22.37009224, ..., 55.61616255,
        56.6798272 , 24.65974342]),
 array([ 16.61076161,   3.30810912, 122.99073688, ...,  63.46324065,
          2.35282223, 131.75499647]),
 array([186.23003279, 115.88435736, 276.37623493, ..., 296.68731362,
        133.76906811, 388.69479842]),
 array([174.27890621, 477.50603436, 163.20636404, ..., 172.38386895,
        543.91306329, 150.75509792]),
 array([453.35113502,   0.92476517,  89.2432008 , ..., 367.5000501 ,
          3.29894618,  61.025148  ]),
 array([ 4.15773377e+01, -4.86809006e-02,  1.41439532e+02, ...,
         3.87870242e+01, -4.16789963e-02,  1.21479411e+02]),
 array([ 2.61752549e+02, -1.17249331e-02,  2.67703726e+01, ...,
         2.27232436e+02,  1.08229211e-01,  2.97124910e+01]),
 array([ 51.35711588,  56.54087331, 152.21886092, ...,  85.54595564,
         60.26642646, 209.40527521]),
 array([ 6.37836418, 17.68205686, 31.59089009, ...,  6.53906719,
        17.91298415, 40.75045199]),
 array([235.36138472, 592.84831912,   2.16627392, ..., 207.54062852,
        362.66056643,   1.51187694]),
 array([1.99527022e+02, 3.38293064e+02, 2.78866834e-01, ...,
        1.85239658e+02, 3.02037287e+02, 7.67387742e-01]),
 array([ 40.00412087,   5.5546917 ,  86.19847056, ...,  41.72033439,
        114.82306859,   5.46113377]),
 array([ 89.13862189,   1.95839652,  18.56742039, ..., 113.39778747,
          2.59589475,  21.92928835]),
 array([39.50782868,  0.10210646, 27.14748385, ...,  0.08729845,
        27.89184708, 65.31004719]),
 array([ 11.26549127,  16.27043473, 176.28293939, ...,  30.14651745,
         11.0722015 ,  13.46744945]),
 array([139.15782561, 300.34643857,   8.93922544, ..., 129.70364718,
        271.58009124,   9.07844352]),
 array([ 61.08578054, 126.99690979,   0.5424134 , ...,  66.54820842,
        156.05194174,   0.46467109]),
 array([ 592.48972409, 1002.65756641,   22.37660676, ...,  682.03190349,
         985.15745534,   20.94984639]),
 array([  8.59502097, 122.87812088, 244.88811477, ...,  99.65653305,
        122.5458173 ,   7.72229763]),
 array([1.63259826e+01, 1.86381361e-02, 5.16362955e+01, ...,
        1.30546652e+01, 2.54451264e-01, 4.31340562e+01]),
 array([ 81.21381385, 134.6515458 , 118.65904319, ...,  37.67042462,
         66.64209216, 104.48171884]),
 array([101.30165763, 126.03300694,  81.03573361, ..., 173.21931897,
        433.86145388, 105.54759669]),
 array([1.77704966e+02, 5.01091199e+02, 2.73457034e-01, ...,
        1.90318850e+02, 5.43050065e+02, 2.15605786e-01]),
 array([549.39944622, 902.74531878,  19.74922199, ...,  24.87225372,
        201.11035828, 382.13852888]),
 array([ 28.5081615 , 368.91258017, 656.89714667, ..., 252.23847983,
         30.80679553, 340.1804086 ]),
 array([458.05722979,  55.56612342,  30.80127779, ..., 323.81546123,
        416.3858923 ,  55.5246372 ]),
 array([29.27590815, 62.6925103 , 61.39784781, ..., 33.05786728,
        85.32005697, 71.75561166]),
 array([125.64978165, 167.12428528, 241.61680905, ...,  79.6186499 ,
        166.58776193, 146.50058277]),
 array([  1.89372235, 104.16279383,  74.68570168, ..., 112.22390026,
         57.97896625,  29.49140464]),
 array([3.67755530e+00, 9.33803479e+02, 8.70105687e+02, ...,
        2.83273415e-01, 8.65085990e+02, 7.20887606e+02]),
 array([290.01657097, 153.37020175,  54.07780928, ..., 795.56027571,
        237.83354946, 152.59254878]),
 array([ 65.57521   ,  15.60624321, 154.91295832, ..., 208.23814319,
         12.51234701, 197.06235842]),
 array([1034.83132477, 1257.57315167,  288.38115741, ..., 1096.28718179,
        1197.58562697,  304.78921489]),
 array([208.94481059,  86.4165984 ,  98.03735313, ...,  52.87014478,
        132.02193817, 111.34611635]),
 array([ 1.57821171, 24.04928929,  7.39625725, ...,  0.54855867,
        22.42427733,  3.42706651]),
 array([ 12.44966002, 143.48834914,  48.64140975, ...,  24.39350457,
         11.1347275 , 172.85209751]),
 array([115.74959826,   6.16188371, 247.0493245 , ..., 216.33852911,
          4.30951867, 297.79304749]),
 array([422.49900412,   1.26155662,  45.32026911, ...,  38.24301416,
        194.00906281, 432.70968523]),
 array([300.16817946, 518.80285486,  11.56204271, ..., 214.39142982,
        365.15488945, 330.33726949]),
 array([ 19.78336289, 488.54726492, 384.53659662, ..., 160.53473839,
         52.00345459, 481.04803563]),
 array([215.86511131, 211.64706046,  11.36613738, ..., 547.37105139,
         47.56721773,  12.21693506]),
 array([  15.19258238, 2391.477986  ,  410.53081923, ..., 2672.56060326,
         524.82217544,  333.62187508]),
 array([ 36.65881059, 154.94304263, 422.43921872, ..., 147.85037297,
        177.49478327,  55.3430235 ]),
 array([60.09874838, 48.92403491,  7.56321727, ..., 56.87032505,
        57.46152541, 44.81517567]),
 array([ 7.52592582,  7.29911955, 25.14282351, ..., 49.13740388,
         7.7868711 ,  7.0462402 ]),
 array([23.97418014, 19.64743371,  1.7811102 , ..., 37.96485784,
        85.39817412,  0.76000334]),
 array([313.78118366, 497.71893205,  11.0975136 , ..., 325.00275144,
        417.75066796,  10.25951719]),
 array([ 99.05092865, 332.43523915,  93.95112034, ..., 287.97258941,
         88.16205208,  75.85587593]),
 array([27.72056843, 28.71501028, 93.11198527, ..., 20.68993142,
        14.90457836, 93.06464299]),
 array([254.78014499,  17.26031584,  33.55881906, ...,  82.18802031,
        490.00838492,  11.36522257]),
 array([31.1079172 , 34.86449077, 54.98071489, ..., 34.2059911 ,
        37.33881586, 63.55616858]),
 array([ 93.98541078,   1.7807531 , 126.68060024, ..., 141.60006694,
          0.6321799 , 142.84510144]),
 array([277.51134316, 147.80420221, 256.61777589, ..., 125.31335671,
        173.68548408, 197.83246408]),
 array([419.09409012,  25.91573243, 114.4528042 , ..., 406.69461345,
         16.61481974, 100.85470257]),
 array([192.62992174,   2.96956372,  55.00278478, ..., 289.19739431,
          2.90264769,  67.47223592]),
 array([11.98515683, 64.30224158, 85.76222132, ..., 77.82535602,
        12.95967863, 65.65599659]),
 array([ 93.27439567,  71.26015571,   0.22662069, ..., 113.15633839,
        111.16884264,   0.44998231]),
 array([187.80524315, 252.32814117, 550.72012907, ..., 127.38173468,
        108.90495815, 466.95665063]),
 array([1043.32698476,   74.26786447,  210.54706705, ...,  770.67626142,
          77.05376605,  186.14408019]),
 array([417.02911227,  38.06275846,  31.07475743, ..., 620.17880196,
         40.74161326,  36.19512203]),
 array([  63.5054198 ,    5.73849816,  406.58896674, ...,    7.50216111,
         401.19694469, 1250.63326434]),
 array([  45.16411458,  176.36047125,  487.30012223, ..., 1307.33064604,
          49.53669068,  166.22281563]),
 array([5.11646140e+02, 3.06996832e-01, 8.27136335e+00, ...,
        3.66475087e+02, 8.83683574e-01, 9.42772333e+00]),
 array([ 2.05443531,  0.44619726, 89.8673393 , ...,  2.26033595,
         0.59867148, 88.66390489]),
 array([223.34478765,   2.59008667, 254.91755571, ...,   2.44921929,
        257.7889132 , 860.86865911]),
 array([5.15486351e-01, 4.21991679e+01, 1.45723027e+02, ...,
        1.14746271e+03, 1.86147263e-01, 4.94565767e+01]),
 array([ 1.76799546e+02,  6.92658058e-02,  1.68264179e+01, ...,
         1.29867760e+02, -6.50271915e-02,  1.41067247e+01]),
 array([ 21.87607814,  51.5094054 , 152.23520716, ...,  14.09573207,
         45.67957092,  98.91510652]),
 array([ 25.57264707,  20.04992891, 161.28520444, ...,  11.34942043,
         10.35934832, 190.91642887]),
 array([50.27802229,  3.44135464,  1.49593944, ..., 60.91108538,
        10.87654937,  0.89228226]),
 array([ 13.02287235, 190.11536283,  28.82699691, ...,  11.45722331,
        175.10089185,  24.96067511]),
 array([ 6.21541157e+01,  5.60354695e+01, -1.36827103e-01, ...,
         3.32089841e+01,  2.70066970e-02,  1.08929851e+02]),
 array([136.27537538,   0.32239627, 112.04730362, ...,  87.1831715 ,
         64.14003703,   0.80724123]),
 array([ 74.80241362,  44.37831435,  54.41455625, ..., 105.44081814,
         90.32593651,  62.16604347]),
 array([61.56480831, 51.36415291, 72.54106125, ..., 84.419418  ,
        94.91662666, 78.01697332]),
 array([229.34649275,  46.15509611,  18.14828906, ..., 183.66961171,
         25.11748486,  19.47070397]),
 array([ 15.71099237,  88.08533718, 108.15247738, ...,  82.9994715 ,
         34.03931516,  13.67770511]),
 array([143.75038599,  62.23661427,  22.95837699, ...,  13.1892593 ,
        121.13440397,  42.87535852]),
 array([ 17.9452568 , 107.88064096, 137.64105518, ...,  19.83412793,
        114.43355841, 146.80226946]),
 array([46.71156974, 26.73975896, 72.33713026, ..., 36.39351824,
        34.34959916, 95.72114144]),
 array([29.48912742, 11.50490313,  0.50541188, ..., 30.81487056,
         8.32821264,  0.92041255]),
 array([29.98973622, 61.16643138, 57.95185427, ..., 22.47145677,
        51.63156743, 28.36493924]),
 array([  8.35791321,   0.30987969,  69.9008725 , ...,  23.85809869,
         26.23824348, 304.11521592]),
 array([274.17427081,  23.69453905,  12.92662225, ...,   3.83684391,
         32.21476975,  54.91470021]),
 array([  4.68217583,  76.74298163,   1.54451046, ...,  65.23798157,
         10.14078567, 134.29729287]),
 array([207.37789929,  45.45885507, 638.64412309, ...,  73.50954834,
        104.2383772 ,  33.68466575]),
 array([3.34219896e+01, 1.93860905e+01, 2.13299690e-01, ...,
        2.30093642e+02, 5.65270659e+01, 3.04809425e+00]),
 array([ 50.73946335,  12.61456689,  31.86437369, ..., 154.65108776,
         61.60650135, 158.39010219]),
 array([ 91.86788341, 674.27856626,  41.39169783, ...,   8.69576168,
          1.73377984,  23.11648766]),
 array([ 159.23159716,  116.48510737,   19.28783346, ...,   27.67404668,
        1072.11913737,   21.44577531]),
 array([ 30.55948905,  43.9349165 , 479.40913318, ...,  11.55032461,
         61.27283912,   6.6088533 ]),
 array([  35.4751417 ,   25.87224256,    7.58735876, ..., 1346.16200143,
          36.71073012,   17.82255729]),
 array([ 21.90721238,  42.835351  , 220.87456945, ...,  25.98352425,
          4.70883989,  51.47786554]),
 array([163.90192053,  50.49116142,  10.59496045, ...,  25.28309799,
          2.99254416, 138.20712637]),
 array([  5.04162818,   4.24137692, 150.00809156, ...,  70.51998063,
         63.68307622,  43.46213088]),
 array([19.32169113, 16.49112216, 20.04241921, ..., 11.44300809,
        20.34348227, 18.47921963]),
 array([18.1464873 , 23.49107272, 49.51599836, ..., 10.0724659 ,
        88.27233038, 51.5746582 ]),
 array([22.03877057, 34.70408936, 44.25399435, ..., 67.83855512,
        43.35980963,  2.13346037]),
 array([ 408.66145218, 1100.04660137,   33.04681148, ...,   16.0386535 ,
          61.38823036,  117.74352049]),
 array([ 359.04924805, 2133.73341594,  941.26192964, ...,  350.3927703 ,

In [95]:
res = np.concatenate(res)

In [85]:
submission = pd.read_csv('../raw_data/sample_submission.csv')
submission['meter_reading'] = res
submission.loc[submission['meter_reading']<0, 'meter_reading'] = 0
submission.to_csv('submission_fe_lgbm.csv', index=False)
submission

            row_id  meter_reading
0                0     123.929448
1                1      60.656467
2                2      11.970192
3                3     198.892692
4                4     747.524203
...            ...            ...
41697595  41697595       4.665242
41697596  41697596       3.754255
41697597  41697597       1.327924
41697598  41697598     153.366725
41697599  41697599       2.626885

[41697600 rows x 2 columns]

## Save and Load the Model

### Save

In [88]:
models[0].save_model('model1.txt')
models[1].save_model('model2.txt')

### Load

In [177]:
model1,model2

NameError: name 'model1' is not defined

In [180]:
model2

NameError: name 'model2' is not defined

In [181]:
model11 = lgb.Booster(model_file='model1.txt')
model12 = lgb.Booster(model_file='model2.txt')

## Preprocess

In [205]:
X = pd.DataFrame(full_test_df.iloc[2:3,:])
X

,site_id,building_id,primary_use,meter,wind_direction,is_holiday,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,floor_count,beaufort_scale,weekday_sin,day_sin,hour_sin,month_sin
2,0,2,0,0,130.0,0,8.585938,1991.0,15.601562,2.0,12.796875,0.0,4.0,2.0,-0.781738,0.201294,0.0,0.5

In [210]:
def preprocess(X):
    model1 = lgb.Booster(model_file='model1.txt')
    model2 = lgb.Booster(model_file='model2.txt')
    y_pred = (model1.predict(X)+model2.predict(X))/2
    
    to_return = {'meter_reading':float(y_pred)}

    return to_return

In [211]:
print(preprocess(X))

{'meter_reading': 2.5626538030527133}

In [151]:
weather_preproc = pd.read_csv("../raw_data/weather_preproc.csv",parse_dates=['timestamp'])

In [145]:
building_metadata =  pd.read_csv("../raw_data/building_metadata.csv")

In [144]:
X

   row_id  building_id  meter  timestamp
2       2            2      0 2017-01-01

In [147]:
X = X.merge(building_metadata,on=['building_id'],how='left')

In [ ]:
(1,'Electricity','2020---f')

In [149]:
X.dtypes

row_id                  int64
building_id             int64
meter                   int64
timestamp      datetime64[ns]
site_id                 int64
primary_use            object
square_feet             int64
year_built            float64
floor_count           float64
dtype: object

In [152]:
X.merge(weather_preproc,on=['site_id','timestamp'],how='left')

,row_id,building_id,meter,timestamp,site_id,primary_use,square_feet,year_built,floor_count,Unnamed: 0,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,offset
0,2,2,0,2017-01-01,0,Education,5376,1991.0,NaN,5,15.6,2.0,12.8,0.0,1022.0,130.0,2.1,5

In [153]:
full_test_df

,site_id,building_id,primary_use,meter,wind_direction,is_holiday,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,floor_count,beaufort_scale,weekday_sin,day_sin,hour_sin,month_sin
0,0,0,0,0,130.0,0,8.914062,2008.0,15.601562,2.0,12.796875,0.000000,4.0,2.0,-0.781738,0.201294,0.00000,0.5
1,0,1,0,0,130.0,0,7.910156,2004.0,15.601562,2.0,12.796875,0.000000,4.0,2.0,-0.781738,0.201294,0.00000,0.5
2,0,2,0,0,130.0,0,8.585938,1991.0,15.601562,2.0,12.796875,0.000000,4.0,2.0,-0.781738,0.201294,0.00000,0.5
3,0,3,0,0,130.0,0,10.070312,2002.0,15.601562,2.0,12.796875,0.000000,4.0,2.0,-0.781738,0.201294,0.00000,0.5
4,0,4,0,0,130.0,0,11.664062,1975.0,15.601562,2.0,12.796875,0.000000,4.0,2.0,-0.781738,0.201294,0.00000,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41697595,15,1444,1,0,180.0,0,9.882812,1914.0,18.906250,0.0,10.601562,1.255859,4.0,2.0,0.975098,0.968262,0.96582,0.5
41697596,15,1445,0,0,180.0,0,8.367188,1968.0,18.906250,0.0,10.601562,1.255859,4.0,2.0,0.975098,0.968262,0.96582,0.5
41697597,15,1446,1,0,180.0,0,9.328125,1997.0,18.906250,0.0,10.601562,1.255859,4.0,2.0,0.975098,0.968262,0.96582,0.5
41697598,15,1447,4,0,180.0,0,10.304688,2001.0,18.906250,0.0,10.601562,1.255859,4.0,2.0,0.975098,0.968262,0.96582,0.5
41697599,15,1448,6,0,180.0,0,11.429688,2001.0,18.906250,0.0,10.601562,1.255859,4.0,2.0,0.975098,0.968262,0.96582,0.5

In [163]:
pd.DataFrame(missing_features)

                              0
year_built          1968.344315
floor_count            4.175326
cloud_coverage         2.750034
precip_depth_1_hr      1.255560
sea_level_pressure  1016.059575

In [168]:
missing_features.keys()

Index(['year_built', 'floor_count', 'cloud_coverage', 'precip_depth_1_hr',
       'sea_level_pressure'],
      dtype='object')

In [197]:
test_df

            row_id  building_id  meter           timestamp
0                0            0      0 2017-01-01 00:00:00
1                1            1      0 2017-01-01 00:00:00
2                2            2      0 2017-01-01 00:00:00
3                3            3      0 2017-01-01 00:00:00
4                4            4      0 2017-01-01 00:00:00
...            ...          ...    ...                 ...
41697595  41697595         1444      0 2018-05-09 07:00:00
41697596  41697596         1445      0 2018-05-09 07:00:00
41697597  41697597         1446      0 2018-05-09 07:00:00
41697598  41697598         1447      0 2018-05-09 07:00:00
41697599  41697599         1448      0 2018-05-09 07:00:00

[41697600 rows x 4 columns]

In [215]:
full_test_df.columns

Index(['site_id', 'building_id', 'primary_use', 'meter', 'wind_direction',
       'is_holiday', 'square_feet', 'year_built', 'air_temperature',
       'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr', 'floor_count',
       'beaufort_scale', 'weekday_sin', 'day_sin', 'hour_sin', 'month_sin'],
      dtype='object')

In [216]:
weather_preproc.isnull().sum()

Unnamed: 0                 0
site_id                    0
timestamp                  0
air_temperature          104
cloud_coverage        140448
dew_temperature          327
precip_depth_1_hr      95588
sea_level_pressure     21265
wind_direction         12370
wind_speed               460
offset                     0
dtype: int64