In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import gc, math

from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold, GroupKFold
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder

# Preprocessing Test

In [165]:
test_df = pd.read_csv('../raw_data/test.csv', parse_dates=['timestamp'])

In [10]:
X = {'building_id':[104],'meter':[0],'timestamp':['2017-06-02 12:00:00']}

In [10]:
def preprocess(X):

    weather_preproc = pd.read_csv('../raw_data/weather_preproc.csv', parse_dates=['timestamp'])

    building_preproc = pd.read_csv("../raw_data/building_preproc.csv")


    X = pd.DataFrame.from_dict(X)
    
    X['timestamp'] = pd.to_datetime(X.timestamp)
    row = X.merge(building_preproc.iloc[:,1:], on='building_id', how='left')

    row = row.merge(weather_preproc.iloc[:,1:], on=['site_id', 'timestamp'], how='left')

    beaufort = [(0, 0, 0.3), (1, 0.3, 1.6), (2, 1.6, 3.4), (3, 3.4, 5.5), (4, 5.5, 8), (5, 8, 10.8), (6, 10.8, 13.9), 
              (7, 13.9, 17.2), (8, 17.2, 20.8), (9, 20.8, 24.5), (10, 24.5, 28.5), (11, 28.5, 33), (12, 33, 200)]

    for item in beaufort:
        row.loc[(row['wind_speed']>=item[1]) & (row['wind_speed']<item[2]), 'beaufort_scale'] = item[0]

    row["timestamp"] = pd.to_datetime(row["timestamp"])

    def transform(df):
        df['hour'] = np.uint8(df['timestamp'].dt.hour)
        df['day'] = np.uint8(df['timestamp'].dt.day)
        df['weekday'] = np.uint8(df['timestamp'].dt.weekday)
        df['month'] = np.uint8(df['timestamp'].dt.month)
        df['year'] = np.uint8(df['timestamp'].dt.year-1900)

        df['square_feet'] = np.log(df['square_feet'])

        return df

    row = transform(row)

    def encode_cyclic_feature(df, col, max_vals):
        df[col + '_sin'] = np.sin(2 * np.pi * df[col]/max_vals)
    #     df[col + '_cos'] = np.cos(2 * np.pi * df[col]/max_vals)
        del df[col]
        return df

    dates_range = pd.date_range(start='2015-12-31', end='2019-01-01')
    us_holidays = calendar().holidays(start=dates_range.min(), end=dates_range.max())

    row['is_holiday'] = (row['timestamp'].dt.date.astype('datetime64').isin(us_holidays)).astype(np.int8)
    row['is_holiday'] = (row['timestamp'].dt.date.astype('datetime64').isin(us_holidays)).astype(np.int8)

    row.loc[(row['weekday']) == 5 | (row['weekday'] == 6) , 'is_holiday'] = 1

    row = row.drop(['timestamp'], axis=1)

    row = encode_cyclic_feature(row, 'weekday', 7)
    row = encode_cyclic_feature(row, 'hour', 24)
    row = encode_cyclic_feature(row, 'day', 31)
    row = encode_cyclic_feature(row, 'month', 12)

    row = row.loc[:,['site_id', 'building_id', 'primary_use', 'meter', 'wind_direction',
           'is_holiday', 'square_feet', 'year_built', 'air_temperature',
           'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr', 'floor_count',
           'beaufort_scale', 'weekday_sin', 'day_sin', 'hour_sin', 'month_sin']]
    return row

In [11]:
X = preprocess(X)

In [14]:
def pred(X):
    model1 = lgb.Booster(model_file='model1.txt')
    model2 = lgb.Booster(model_file='model2.txt')
    y_pred = (model1.predict(X)+model2.predict(X))/2
    
    #to_return = {'meter_reading':float(y_pred)}

    return y_pred

In [12]:
pred(X)

{'meter_reading': 5.780886692302947}

## Monthly Prediction

In [15]:
dates

['2017-01-00',
 '2017-01-01',
 '2017-01-02',
 '2017-01-03',
 '2017-01-04',
 '2017-01-05',
 '2017-01-06',
 '2017-01-07',
 '2017-01-08',
 '2017-01-09',
 '2017-01-10',
 '2017-01-11',
 '2017-01-12',
 '2017-01-13',
 '2017-01-14',
 '2017-01-15',
 '2017-01-16',
 '2017-01-17',
 '2017-01-18',
 '2017-01-19',
 '2017-01-20',
 '2017-01-21',
 '2017-01-22',
 '2017-01-23',
 '2017-01-24',
 '2017-01-25',
 '2017-01-26',
 '2017-01-27',
 '2017-01-28',
 '2017-01-29',
 '2017-01-30']

In [6]:
X1 = {'building_id':[104],'meter':[0],'timestamp':['2017-06-02 12:00:00']}
X2 = {'building_id':[104],'meter':[0],'timestamp':['2017-06-02 13:00:00']}
X3 = {'building_id':[104],'meter':[0],'timestamp':['2017-06-02 14:00:00']}

In [7]:
X1 = preprocess(X1)
X2 = preprocess(X2)
X3 = preprocess(X3)

In [11]:
pd.concat([X1,X2,X3])

,site_id,building_id,primary_use,meter,wind_direction,is_holiday,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,floor_count,beaufort_scale,weekday_sin,day_sin,hour_sin,month_sin
0,0,104,6,0,120.0,0,10.721724,2003.0,26.7,7.000000,23.9,-1.0,4.0,1.0,-0.433884,0.394356,1.224647e-16,1.224647e-16
0,0,104,6,0,240.0,0,10.721724,2003.0,28.3,6.666667,23.3,0.0,4.0,3.0,-0.433884,0.394356,-2.588190e-01,1.224647e-16
0,0,104,6,0,295.0,0,10.721724,2003.0,29.4,6.333333,23.3,0.0,4.0,2.0,-0.433884,0.394356,-5.000000e-01,1.224647e-16

In [ ]:
bu_id = 100
meter = 0
year = 2017
month = 1

In [ ]:
first_timestamp = "2017-01-01 0:00"

last_timestamp = "2017-01-31 23:00"

In [3]:
dates = pd.date_range("2017-01-01 0:00", "2017-01-31 23:00", freq="1h")

dates=pd.DataFrame(dates)

dates

                      0
0   2017-01-01 00:00:00
1   2017-01-01 01:00:00
2   2017-01-01 02:00:00
3   2017-01-01 03:00:00
4   2017-01-01 04:00:00
..                  ...
739 2017-01-31 19:00:00
740 2017-01-31 20:00:00
741 2017-01-31 21:00:00
742 2017-01-31 22:00:00
743 2017-01-31 23:00:00

[744 rows x 1 columns]

In [4]:
dates['building_id'] = 100
dates['meter'] = 0
dates

                      0  building_id  meter
0   2017-01-01 00:00:00          100      0
1   2017-01-01 01:00:00          100      0
2   2017-01-01 02:00:00          100      0
3   2017-01-01 03:00:00          100      0
4   2017-01-01 04:00:00          100      0
..                  ...          ...    ...
739 2017-01-31 19:00:00          100      0
740 2017-01-31 20:00:00          100      0
741 2017-01-31 21:00:00          100      0
742 2017-01-31 22:00:00          100      0
743 2017-01-31 23:00:00          100      0

[744 rows x 3 columns]

In [5]:
dates = dates.iloc[:,[1,2,0]]

In [6]:
dates

     building_id  meter                   0
0            100      0 2017-01-01 00:00:00
1            100      0 2017-01-01 01:00:00
2            100      0 2017-01-01 02:00:00
3            100      0 2017-01-01 03:00:00
4            100      0 2017-01-01 04:00:00
..           ...    ...                 ...
739          100      0 2017-01-31 19:00:00
740          100      0 2017-01-31 20:00:00
741          100      0 2017-01-31 21:00:00
742          100      0 2017-01-31 22:00:00
743          100      0 2017-01-31 23:00:00

[744 rows x 3 columns]

In [7]:
X = dates.rename(columns={0:'timestamp'})

In [8]:
X

     building_id  meter           timestamp
0            100      0 2017-01-01 00:00:00
1            100      0 2017-01-01 01:00:00
2            100      0 2017-01-01 02:00:00
3            100      0 2017-01-01 03:00:00
4            100      0 2017-01-01 04:00:00
..           ...    ...                 ...
739          100      0 2017-01-31 19:00:00
740          100      0 2017-01-31 20:00:00
741          100      0 2017-01-31 21:00:00
742          100      0 2017-01-31 22:00:00
743          100      0 2017-01-31 23:00:00

[744 rows x 3 columns]

In [11]:
X = preprocess(X)

In [12]:
X

,site_id,building_id,primary_use,meter,wind_direction,is_holiday,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,floor_count,beaufort_scale,weekday_sin,day_sin,hour_sin,month_sin
0,0,100,4,0,140.0,0,10.104631,1968.0,17.2,0.0,13.3,0.0,4.0,2.0,-0.781831,2.012985e-01,0.000000,0.5
1,0,100,4,0,130.0,0,10.104631,1968.0,16.7,2.0,13.3,0.0,4.0,2.0,-0.781831,2.012985e-01,0.258819,0.5
2,0,100,4,0,130.0,0,10.104631,1968.0,15.6,2.0,12.8,0.0,4.0,2.0,-0.781831,2.012985e-01,0.500000,0.5
3,0,100,4,0,150.0,0,10.104631,1968.0,15.0,0.0,12.8,0.0,4.0,1.0,-0.781831,2.012985e-01,0.707107,0.5
4,0,100,4,0,0.0,0,10.104631,1968.0,15.0,2.0,13.3,0.0,4.0,0.0,-0.781831,2.012985e-01,0.866025,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,0,100,4,0,0.0,1,10.104631,1968.0,21.1,0.0,6.1,0.0,4.0,0.0,0.781831,-2.449294e-16,-0.965926,0.5
740,0,100,4,0,150.0,1,10.104631,1968.0,18.3,2.0,7.8,0.0,4.0,2.0,0.781831,-2.449294e-16,-0.866025,0.5
741,0,100,4,0,170.0,1,10.104631,1968.0,16.1,0.0,7.2,0.0,4.0,1.0,0.781831,-2.449294e-16,-0.707107,0.5
742,0,100,4,0,180.0,1,10.104631,1968.0,14.4,0.0,7.8,0.0,4.0,1.0,0.781831,-2.449294e-16,-0.500000,0.5
743,0,100,4,0,180.0,1,10.104631,1968.0,12.2,0.0,7.2,0.0,4.0,2.0,0.781831,-2.449294e-16,-0.258819,0.5

In [15]:
sum(pred(X))

3621.7904185818197

In [16]:
X.square_feet /= 2

In [19]:
X.primary_use = 1

In [21]:
pred(X)

array([3.835858  , 3.7971138 , 3.8557426 , 3.87217165, 3.86009864,
       3.87818546, 3.85185261, 3.84336234, 3.87822437, 3.83997115,
       3.84227473, 3.81812358, 3.70247595, 3.75869456, 3.79046098,
       3.80899257, 3.83376487, 3.84651388, 3.83376487, 3.82968856,
       3.80524798, 3.8204728 , 3.79610449, 3.73651375, 3.74155285,
       3.77048368, 3.77583478, 3.8010854 , 3.79326731, 3.81791273,
       3.83736347, 3.8616719 , 3.81968278, 3.83635079, 3.80957219,
       3.72447633, 3.7468753 , 3.7909232 , 3.79965416, 3.8314438 ,
       3.82584731, 3.8303211 , 3.84852012, 3.82890616, 3.79495063,
       3.77428303, 3.75893454, 3.77015751, 3.77559434, 3.77854718,
       3.76802112, 3.75349413, 3.73208359, 3.77111039, 3.7707679 ,
       3.76157342, 3.7708068 , 3.76972396, 3.78711169, 3.73683228,
       3.794152  , 3.79982807, 3.82018752, 3.82877262, 3.83951051,
       3.8709185 , 3.83951051, 3.82462036, 3.84809719, 3.82440247,
       3.8037365 , 3.80131989, 3.80254255, 3.77420079, 3.77211478,
       3.77959036, 3.79048406, 3.85497962, 3.79146499, 3.75872377,
       3.7851614 , 3.79907753, 3.7724697 , 3.80681973, 3.77679379,
       3.81217715, 3.80238457, 3.88476767, 3.89063621, 3.90055761,
       3.90055761, 3.86379085, 3.86842286, 3.87737888, 3.86203982,
       3.88762101, 3.84343668, 3.83547391, 3.89134902, 3.87260802,
       3.88996276, 3.86376167, 3.86376167, 3.88618116, 3.87249844,
       3.88332922, 3.90154162, 3.84443469, 3.96838251, 3.82442783,
       3.85063769, 3.84425657, 3.87645561, 3.83645786, 3.84835396,
       3.81799252, 3.85662519, 3.86170536, 3.9226195 , 3.8701023 ,
       3.82906565, 3.85021001, 3.88207609, 3.89616429, 3.86830756,
       3.86493311, 3.86493311, 3.86279397, 3.86526439, 3.85611554,
       3.86237425, 3.87426192, 3.8333883 , 3.74618498, 3.75981069,
       3.83936384, 3.81866055, 3.88077968, 3.8560852 , 3.81651326,
       3.84108909, 3.82361485, 3.8079854 , 3.77321789, 3.76495787,
       3.80315396, 3.81278949, 3.61304948, 3.85389033, 3.848339  ,
       3.75375161, 3.79236433, 3.54454199, 3.74031107, 3.52691974,
       3.84301267, 3.79847711, 3.8377411 , 3.92228726, 3.73920493,
       3.76581499, 3.99321336, 3.74911449, 4.00381355, 4.00448409,
       3.98999699, 3.96177789, 3.92069288, 3.8821684 , 3.87804694,
       3.87804694, 3.88889604, 3.89961088, 3.89572031, 3.89276747,
       3.88460854, 3.93752449, 3.86862828, 3.87884851, 3.94915659,
       3.92661812, 3.89386421, 3.93606044, 3.95635245, 3.97459334,
       3.98267632, 3.98652798, 3.98350101, 3.99943886, 4.0087662 ,
       3.98727039, 3.96026161, 3.94205541, 3.94205541, 3.95476612,
       3.92466768, 3.92575052, 3.92871838, 3.92571161, 3.92871838,
       3.92875729, 3.88313572, 3.89620134, 3.89517464, 3.89979452,
       3.89153498, 3.92042831, 3.94161364, 3.96060021, 3.88123785,
       3.94459138, 3.94775832, 3.98930648, 4.01758732, 3.99024607,
       3.95276768, 3.88549178, 3.90176367, 3.85931714, 3.84192942,
       3.83992883, 3.81903613, 3.83655438, 3.83655438, 3.83910415,
       3.83763861, 3.84097421, 3.85293854, 3.79207257, 3.75210995,
       3.75746   , 3.77226294, 3.75534433, 3.80183767, 3.79824548,
       3.87022235, 3.8664448 , 3.85689697, 3.8605576 , 3.81735247,
       3.86217327, 3.90410008, 3.90626765, 3.88554438, 3.88996276,
       3.87173494, 3.87598204, 3.87598204, 3.87962748, 3.85446701,
       3.89333451, 3.83570019, 3.79067557, 3.78663098, 3.78577447,
       3.94588226, 3.85565182, 3.85623808, 3.83039153, 3.87474139,
       3.85010472, 3.88842995, 3.91988144, 3.87810481, 3.86989286,
       3.84000757, 3.87682605, 3.82999981, 3.83108265, 3.83437928,
       3.81701526, 3.82966602, 3.88523674, 3.91375587, 3.8840653 ,
       3.79770525, 3.77919484, 3.82219966, 3.85658588, 3.89736594,
       3.90081038, 3.8988221 , 3.85973715, 3.8262685 , 3.87088511,
       3.89686993, 3.85923416, 3.88547822, 3.83187065, 3.84358933,
       3.84030496, 3.82132037, 3.84695702, 3.83361272, 3.85673715,
       3.85599947, 3.8546407 , 3.81007337, 3.83407855, 3.7416971 ,
       3.74037218, 3.75260414, 3.82363158, 3.84948457, 3.80368118,
       3.79413873, 3.85873196, 3.85095116, 3.84197172, 3.85682473,
       3.84008914, 3.7997482 , 3.79139312, 3.85012114, 3.8525362 ,
       3.8402559 , 3.84669813, 3.84734315, 3.84592154, 3.84011702,
       3.82896537, 3.85082741, 3.8653785 , 3.84973845, 3.79384767,
       3.79315783, 3.83145559, 3.86983735, 3.88904121, 3.84250144,
       3.85632915, 3.80768759, 3.86068679, 3.82313177, 3.83676661,
       3.79071866, 3.81955505, 3.81659489, 3.83356101, 3.7512474 ,
       3.82823148, 3.82877813, 3.81081952, 3.83946642, 3.84658533,
       3.84755163, 3.81215408, 3.75994687, 3.7489003 , 3.72855645,
       3.74309526, 3.80242929, 3.81123944, 3.81419228, 3.80817875,
       3.80952916, 3.82984315, 3.78668905, 3.81583736, 3.77774003,
       3.81724117, 3.79349329, 3.81612934, 3.82198579, 3.82915975,
       3.83192402, 3.80411625, 3.82989574, 3.83128791, 3.77432997,
       3.79505324, 3.74411031, 3.68181859, 3.74945532, 3.7554965 ,
       3.78854894, 3.7752609 , 3.78808477, 3.78808477, 3.77615783,
       3.76473525, 3.74614827, 3.74861303, 3.80773077, 3.83200926,
       3.82384601, 3.83348206, 3.8024203 , 3.83530747, 3.83178741,
       3.843982  , 3.84357485, 3.84226049, 3.84293807, 3.8603258 ,
       3.76821919, 3.69612291, 3.77891727, 3.79587191, 3.8082918 ,
       3.82857524, 3.83014944, 3.81533728, 3.81215834, 3.87172229,
       3.78868983, 3.77386011, 3.77339492, 3.80710798, 3.80418981,
       3.8570027 , 3.8529155 , 3.8431446 , 3.82992968, 3.88130422,
       3.8613513 , 3.89009808, 3.88218314, 3.89883318, 3.87081189,
       3.79883849, 3.83913209, 3.85167377, 3.90289415, 3.90195242,
       3.91143181, 3.90735551, 3.9034518 , 3.87394748, 3.84491683,
       3.83543501, 3.78857682, 3.77114353, 3.76475506, 3.86993017,
       3.84575229, 3.8365752 , 3.82694481, 3.88322707, 3.88281992,
       3.88031313, 3.87923029, 3.87769509, 3.76180222, 3.79103028,
       3.82861432, 3.81141158, 3.93705687, 3.91238759, 3.92725201,
       3.91274258, 3.9120049 , 3.88682664, 3.81284105, 3.85726536,
       3.82227942, 3.25397091, 3.28613298, 3.32850304, 3.32831279,
       3.34680631, 3.37028499, 3.32434762, 3.34251206, 3.32273303,
       3.35523217, 3.27013441, 3.22932139, 3.21501604, 3.22742456,
       3.28809327, 3.32250025, 3.35014951, 3.34751869, 3.35427866,
       3.35956036, 3.33152006, 3.26409749, 3.76826597, 3.76234431,
       3.774677  , 3.77998244, 3.7779984 , 3.76986948, 3.84341879,
       3.84712655, 3.83203482, 3.83565054, 3.8466514 , 3.83544314,
       3.84354403, 3.78103534, 3.73455378, 3.80002394, 3.83768547,
       3.86730768, 3.88181801, 3.88181801, 3.88561851, 3.87946975,
       3.87317254, 3.82040672, 3.57050222, 3.53186823, 3.73684955,
       3.75385825, 3.75304158, 3.74901699, 3.76000163, 3.76605652,
       3.77416478, 3.76310368, 3.77155055, 3.7165329 , 3.72463379,
       3.71976855, 3.75272299, 3.7752531 , 3.82265046, 3.87933297,
       3.90564018, 3.90607113, 3.87036094, 3.87036094, 3.85869033,
       3.82967257, 3.91334725, 3.86668139, 3.846481  , 3.80601963,
       3.7892117 , 3.78039265, 3.85482045, 3.84254853, 3.85082097,
       3.83323096, 3.83295378, 3.88023237, 3.9091603 , 3.86040106,
       3.85704831, 3.81633278, 3.82726799, 3.87283685, 3.82113759,
       3.87618837, 3.85091152, 3.89619088, 3.9562684 , 3.94065896,
       3.92036695, 3.89148327, 3.85386796, 3.86585758, 3.86585758,
       3.87277828, 3.8495527 , 3.83821054, 3.8613384 , 3.8613384 ,
       3.85495833, 3.84895051, 3.89016601, 3.87783715, 3.81905339,
       3.77918858, 3.79709298, 3.79940622, 3.75516871, 3.81822325,
       3.81341542, 3.84469881, 3.86594719, 3.89285419, 3.88580137,
       3.91664203, 3.94539882, 3.92831382, 3.9333394 , 3.91275688,
       3.91383972, 3.8986105 , 3.90271759, 3.91864558, 3.91868449,
       3.87615013, 3.89395952, 3.89395952, 3.8874999 , 3.87374   ,
       3.82598586, 3.86286573, 3.85438361, 3.89232232, 3.89039331,
       3.914251  , 3.8443119 , 3.8335676 , 3.87678445, 3.85793061,
       3.81270555, 3.8952022 , 3.87369771, 3.84768664, 3.84876948,
       3.86080687, 3.86737543, 3.86737543, 3.86616799, 3.85381486,
       3.87961214, 3.81760561, 3.79635675, 3.81005232, 3.87330715,
       3.91535102, 3.92081766, 3.9361788 , 3.94478351, 3.92615262,
       3.90624048, 3.87983307, 3.78510817, 3.81618173, 3.75543723,
       3.75584896, 3.7532319 , 3.72583305, 3.7690632 , 3.82850592,
       3.58645313, 3.58237683, 3.57208515, 3.59455613, 3.87399548,
       3.87065994, 3.62786639, 3.86419531, 3.63157353, 3.85668352,
       3.9340622 , 3.93240461, 3.87231727, 3.87835113, 3.93594942,
       3.94540497, 3.95136247, 3.89626719, 3.87846914, 3.88012173,
       3.8854439 , 3.87510889, 3.8826325 , 3.87583103, 3.88480875,
       3.89013092, 3.89016983, 3.89897818, 3.9011489 , 3.88934696,
       3.89781336, 3.91701983, 3.94917582, 3.97855028, 4.04680482,
       3.98328474, 3.99633822, 3.99633822, 3.98323035, 3.96884336,
       3.93549786, 3.89550273, 3.86028304, 3.6193662 , 3.85646461,
       3.89384151, 3.85994269, 3.88568573, 3.87541819, 3.62790633,
       3.87867953, 3.86744732, 3.84547467, 3.84547467, 3.87151202,
       3.89790879, 3.93216429, 3.67689793, 3.94975255, 3.70554887,
       3.96268283, 3.70566365, 3.95810094, 3.9355438 , 3.91983369,
       3.8643581 , 3.87209688, 3.87292157, 3.87283457, 3.857662  ,
       3.8599912 , 3.86591162, 3.86444207, 3.85782413, 3.86227073,
       3.86640538, 3.90362443, 3.90333394, 3.90333394, 3.9209081 ,
       3.9762087 , 3.9773722 , 3.97370074, 3.9427703 , 3.98230751,
       3.96800471, 3.98829122, 3.98139906, 3.94723541, 3.90463075,
       3.85710738, 3.85689152, 3.85928803, 3.89055649, 3.89393378,
       3.84477412, 3.89467666, 3.89160042, 3.88704404, 3.83744673,
       3.86162659, 3.85601566, 3.8626604 , 3.81235231, 3.87568479,
       3.81114542, 3.84458263, 3.79856559, 3.75665686, 3.82458012,
       3.85496592, 3.91192029, 3.91861406, 3.89824633])